---
layout: default.hbs
subject: 'Partial Shipment for Order {{transferOrder.orderId}}'
preheader: 'Part of Your Order Has Shipped'
date: '{{transferOrder.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Part of Your Order Has Shipped</h1>
            <p>A portion of your order \{{transferOrder.orderId}} is on its way. The remaining items will ship separately.</p>
            {{> tracking }}
            <p><b>Items not yet shipped:</b></p>
            <ul>
                \{{#each shippingRemainingProducts as |product|}}
                <li>\{{product.name}}, Quantity: \{{product.quantity}}</li>
                \{{/each}}
            </ul>
        </td>
    </tr>
</table>
