---
layout: default.hbs
subject: 'Payment Disbursed, Sell Order {{sellOrder.orderId}}'
preheader: 'Your payment is on its way'
date: '{{sellOrder.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your Payment Is on its Way</h1>
            <p>Your sell order \{{sellOrder.orderId}} has been completed and your payment has been sent.</p>
            <p><b>Net proceeds from sale:</b> \{{sellOrder.invoice.total}}<br><b>Disbursement method:</b> \{{sellOrder.disbursement.methodName}}</p>
            \{{#if sellOrder.disbursement.isIra}}
                <p>Proceeds have been electronically transferred to your IRA custodian. They will be reflected on your IRA account balance shortly.</p>
                <p>If you do not receive your payment in a few business days, please check with your custodian. <a href="mailto:{{default.supportEmail}}">Contact customer service here</a> or reply to this message if they are unable to locate the payment for any reason.</p>
            \{{/if}}
            \{{#if sellOrder.disbursement.isCheck}}
                <p>Your check with the proceeds from your sale is being sent to you via U.S. mail. Expect to receive it in 2-4 business days domestic, or 7-14 days international.</p>
                <p>Please <a href="mailto:{{default.supportEmail}}">alert customer service</a> or reply to this message if you do not receive your check so they can place a stop payment order and reissue.</p>
            \{{/if}}
            \{{#if sellOrder.disbursement.isWire}}
                <p>Proceeds from the sale are being sent you via bank wire (\{{sellOrder.disbursement.label}}). Please allow 2 business days for the wire to post to your account.</p>
                <p>Please <a href="mailto:{{default.supportEmail}}">alert customer service</a> or reply to this message if the wire does not post in that time period so that we can investigate.</p>
            \{{/if}}
            \{{#if sellOrder.disbursement.isAccount}}
                <p>Proceeds from the sale have been deposited to your GoldSilver.com account and are available immediately for trading or withdrawal.</p>
            \{{/if}}
        </td>
    </tr>
    <tr>
        <td class="content-block">
            {{> order-sell-summary}}
        </td>
    </tr>
</table>
