---
layout: default.hbs
subject: 'Partial Payment for Order {{buyUnderpaid.orderId}}'
preheader: 'Partial Payment Received; Balance Due'
date: '{{buyUnderpaid.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Partial Payment Received; Balance Due</h1>
            <p>Thank you for your recent payment on order \{{buyUnderpaid.orderId}}. We want to let you know we received and posted the payment; <span class="underline">however, there remains a balance due on your order</span>.</p>
            <ul>
                <li>Payment Method: \{{buyUnderpaid.payment.method}}</li>
                <li>Amount Received: \{{buyUnderpaid.payment.amount}}</li>
                <li>Order Total: \{{buyUnderpaid.orderTotal}}</li>
                <li>Remaining Due: <b>\{{buyUnderpaid.amountDue}}</b></li>
            </ul>
            <p><b>Please <a href="mailto:{{default.supportEmail}}">contact customer service as soon as possible</a> to pay the balance.</b> Your order will not be processed or shipped until this is resolved.</p>
            <p>If you have already made an additional payment for the remaining balance, please disregard. Your order will update when that payment clears.</p>
            <p><span class="underline">If the amount we received is less than you expected</span>, check if your bank or payment provider charges an intermediary fee taken out of your payment (common with international wires and smaller banks).  And contact us if you suspect there is an error, of course.</p>
            <p>Reminder that any <span class="underline">backorder delays apply from the date payment in full is cleared</span>, not the original order date. Please check the website/app for current shipping estimates.</p>
        </td>
    </tr>
</table>
