---
layout: default.hbs
subject: Check Received/Pending for Order \{{buyOrder.orderId}}
preheader: Check Received; Payment Clears in 5 Business Days
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Check Received; Payment Clears in 5 Business Days</h1>
            <p>This notice is to let you know that we have received and deposited a check payment for your order \{{buyCheckReceived.orderId}}</p>
            <p><b>Reminder, all checks are held for 5 business days to help combat fraud and ensure funds clear properly.</b> (This is industry standard.)</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            \{{#if buyCheckReceived.requiresIdentityVerification}}
                <p>If you have not already submitted a color photograph of your current government-issued ID, <span class="underline">please reply to this message with that information now</span> or your order may be delayed further.</p>
            \{{/if}}
            <ul>
                <li>Amount Received: \{{buyCheckReceived.amount}}</li>
                <li>Check Will Clear On: \{{buyCheckReceived.clearDate}}</li>
                <li>Order Total: \{{buyCheckReceived.orderTotal}}</li>
                <li>Remaining Due: <b>\{{buyCheckReceived.amountDue}}</b></li>
            </ul>
            <p>You will receive another notice when your check has cleared.  If your order is paid in full, then it will be automatically released to the vault ofr fulfillment at that time.</p>
            <p>Reminder that any <span class="underline">backorder delays apply from the date payment in full clears</span>, not the original order date.  Please check the website/app for current shipping estimates.</p>
        </td>
    </tr>
</table>
