---
layout: default.hbs
subject: 'Sell Order Confirmation {{sellOrder.orderId}}'
preheader: 'Thank You for Your Purchase'
date: '{{sellOrder.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            \{{#if sellOrder.isLiquidation}}
                <h1>Sell Order Confirmation</h1>
                <p>This is a confirmation for sell order \{{sellOrder.orderId}}.</p>
                <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td class="content-block well">
                            <p style="margin-bottom: 0;"><b>Note: This sell order was executed to settle an outstanding balance for overdue storage or other account fees, or for an unfulfillable order.</b> We’ve attempted to contact you on several occasions regarding this balance due, but have not been able to resolve it in a timely manner. Per the <a href="{{default.storageAgreementUrl}}">Vault Storage Customer Agreement</a>, we reserve the right to liquidate positions to settle unpaid balances. Any amount remaining after settlement is deposited as a credit on your account.</p>
                        </td>
                    </tr>
                </table>
            \{{else}}
                <h1>Thank You for Your Sell Order</h1>
                <p>We’ve received your sell order \{{sellOrder.orderId}}, and your price is locked.</p>
                <p>The metals sold will be transferred from your vault account to the buyer and proceeds returned within 2 business days from their receipt by the buyer.</p>
                <p>This process typically takes only a couple of days, but can take a bit longer in busy markets as all moves are verified by multiple parties.</p>
                <p>You will receive a follow-up message when your payment is being sent.</p>
            \{{/if}}
            {{> order-sell-summary}}
        </td>
    </tr>
</table>
