---
layout: default.hbs
subject: 'Withdrawal Request Received (Ref: {{storageWithdraw.transactionReferenceId}}'
preheader: '{{storageWithdraw.amount}} requested via {{storageWithdraw.methodLabel}}'
date: '{{storageNotification.date}}'
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            <h1>Your Withdrawal is Processing</h1>
            <p>We have received a request to withdraw \{{storageWithdraw.amount}} from your GoldSilver.com account balance.</p>
            <ul>
                <li>Account number: \{{storageNotification.accountLabel}}</li>
                <li>Withdrawal amount: \{{storageWithdraw.amount}}</li>
                <li>Method: \{{storageWithdraw.methodLabel}} sent to \{{storageWithdraw.destinationLabel}}</li>
            </ul>
            <p>Please allow 2-4 business days for security review and processing.</p>
            {{> user-request-info}}
            <p>If you have any questions about your account, we’re here to help: Check out our <a href="{{storageFaq}}">frequently asked questions</a>. Or contact us any time by replying to this or any message from us, or via any of our other <a href="{{contactUrl}}">convenient methods</a>.</p>
        </td>
    </tr>
</table>
