---
layout: default.hbs
subject: Email address changed
preheader: Please review requested change to email address.
---
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            This is a stub
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <h1>Please review requested change to email address.</h1>
            <p>We received a request to change the email address of your GoldSilver account. For your security, we send this message to your previous email address of record to verify the request came from you.</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Previous email (this address): \{{ previous email address }}</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>New email: \{{ new email address }}</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Requested from:</p>
            <p>Location: \{{ location (based on ip address) }}*</p>
            <p>IP address: \{{ IP address }}</p>
            <p>Time: \{{ time }}</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p style="color: red"><b>Didn’t make this change?</b></p>
            <p>If this change was intentional, you can safely ignore this email. Otherwise, please click the following link to secure your account:</p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p><a href="\{{ no_email_request_change }}">I did NOT request an email change</a></p>
        </td>
    </tr>
    <tr>
        <td class="content-block">
            <p>Clicking this link will immediately lock your account and prevent changes to new orders/instructions;
                <u>you will be required to reset your password</u> to unlock your account.</p>
        </td>
    </tr>
</table>
